[ContrastEffect]
contrast=0.2
enabled=true
intensity=0.4
saturation=1.7

[Desktop Entry]
Comment=Minimal and dark, Modified from Breeze by the KDE VDG.
Name=Genome Minimal Dark
X-KDE-PluginInfo-Author=doncsugar
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=genome-dark
X-KDE-PluginInfo-Version=1.8.8
X-KDE-PluginInfo-Website=https://store.kde.org/p/1316032/
X-Plasma-API=5.0

[Wallpaper]
defaultFileSuffix=.png
defaultHeight=1080
defaultWallpaperTheme=Next
defaultWidth=1920
